.App-logo {
  height: 100px;
  cursor: pointer;
  opacity: 70%;
  
}

.App-header {
  height: 100%;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: rgb(248, 240, 240);
  
  background-image: url();
  
  
  
}
.Beep {
margin-left: 465px;
display: flex;
width: 30%;
cursor: pointer;



}