body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(14, 1, 48, 0.911);
  background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p3/1987748-abstract-template-blue-geometric-diagonal-overlap-layer-on-dark-blue-background-gr%C3%A1tis-vetor.jpg);
 background-repeat: no-repeat;
 background-size: cover;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}